@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: extrabold;
}
